:host {
    display: block;
    height: inherit;
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px;
}

.header-dialog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-dialog-close-icon {
    font-size: 32px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    text-align: center;
    line-height: 35px;
    height: 72px;
    cursor: pointer;
    color: #f44336;
}

.dialog-name {
    text-align: center;
}

.dialog-container {
    overflow-x: auto;
    height: 700px;

    .current-techincs__card {
        margin: 10px;
        height: 400px;
        width: 700px;
    }

    .card-content {
        height: 300px;
        width: 700px;
    }
}