:host {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-new-account {
    display: flex;
    flex-direction: column;
    width: 392px;
    align-items: center;
    justify-content: center;
}