<div class="container-technics">
        <div class="container-technics__date-time">
        <div class="container__technics-form">
            <form class="technics-form" [formGroup]="technicsForm" (ngSubmit)="findTechincs()">
                <div>Дата</div>
                <mat-form-field appearance="fill">
                    <mat-label>День месяца</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-hint *ngIf="technicsForm.controls['date'].invalid && technicsForm.controls['date'].touched">Поле обязательно</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div>Cмена</div>
                <mat-form-field appearance="fill">
                    <mat-label>Рабочая смена</mat-label>
                    <mat-select formControlName="workingShift">
                      <mat-option value="one">1 Смена</mat-option>
                      <mat-option value="two">2 Смена</mat-option>
                      <mat-option value="trhee">3 Смена</mat-option>
                    </mat-select>
                    <mat-hint *ngIf="technicsForm.controls['workingShift'].invalid && technicsForm.controls['workingShift'].touched">Поле обязательно</mat-hint>
                </mat-form-field>
                <button 
                    mat-raised-button 
                    type="submit"
                    [disabled]="!technicsForm.valid" 
                    class="find-work-shift" 
                    >
                Построить
            </button>
            </form>
        </div>
    </div>
    <div class="container-technics__current-techinc">
        <div class="current-techincs">
            <ng-container>
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Simple card</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div>
                            icon or image
                        </div>
                        <div>
                            graphics
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button>Подробнее</button>
                    </mat-card-actions>
                  </mat-card>
            </ng-container>
        </div>
        <div class="dashodoard-work-shit">
            <div>
                <mat-card>Dashodoard</mat-card>
            </div>
        </div>
    </div>
</div>
